<h2 class="text-center fw-bold">POPULAR MOVIES</h2>
<ul class="list-group list-group-horizontal position-relative overflow-auto">
    <app-movie-item-component class="list-group-item" *ngFor="let m of popularMovieList" [movie]="m"
        (movieClick)="onMovieClicked($event, movieModal)"></app-movie-item-component>
</ul>

<ng-template #movieModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title fw-bold text-uppercase" id="modal-basic-title">{{movieName}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-5">
                <img [src]="movieImg" alt="imagen agente" class="w-100">
            </div>
            <div class="col-7">
                <span class="fw-bold fs-5">Overview:</span><br>
                <span>{{movieOverview}}</span><br>
                <span class="fw-bold fs-5 text-uppercase">Original Lenguaje:</span><br>
                <span>{{movieLenguaje}}</span><br>
                <span class="fw-bold fs-5">Release Date:</span><br>
                <span>{{movieReleaseDate}}</span><br>
            </div>
        </div>
    </div>
</ng-template>