<div class="container d-flex align-items-center justify-content-center mt-5">
    <table>
        <tbody>
            <tr>
                <td id="celda0" marcado=null (click)="seleccion(0)"></td>
                <td id="celda1" marcado=null (click)="seleccion(1)"></td>
                <td id="celda2" marcado=null (click)="seleccion(2)"></td>
            </tr>
            <tr>
                <td id="celda3" marcado=null (click)="seleccion(3)"></td>
                <td id="celda4" marcado=null (click)="seleccion(4)"></td>
                <td id="celda5" marcado=null (click)="seleccion(5)"></td>
            </tr>
            <tr>
                <td id="celda6" marcado=null (click)="seleccion(6)"></td>
                <td id="celda7" marcado=null (click)="seleccion(7)"></td>
                <td id="celda8" marcado=null (click)="seleccion(8)"></td>
            </tr>
        </tbody>
    </table><br>
</div>
<div class="text-center mt-3" *ngIf="ganador!=0">
    <span class="fs-1 fw-bold text-center">GANADOR <span class="text-success">JUGADOR 1: FERNANDO</span></span>
</div>
