 <div id="calculator">
    <div class="row w-25">
        <div class="col-12 m-3">
            <p>{{result}}</p>
        </div>
        <div class="col-4">
            <button type="button" (click)="getDigit(1)" class="btn fw-bold fs-2">1</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="getDigit(2)" class="btn fw-bold fs-2">2</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="getDigit(3)" class="btn fw-bold fs-2">3</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="getDigit(4)" class="btn fw-bold fs-2">4</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="getDigit(5)" class="btn fw-bold fs-2">5</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="getDigit(6)" class="btn fw-bold fs-2">6</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="getDigit(7)" class="btn fw-bold fs-2">7</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="getDigit(8)" class="btn fw-bold fs-2">8</button>
        </div>
        <div class="col-4">
            <button type="button" (click)="getDigit(9)" class="btn fw-bold fs-2">9</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn fw-bold fs-2">+</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn fw-bold fs-2">-</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn fw-bold fs-2">=</button>
        </div>
    </div>
</div>
