<nav class="navbar-transparent navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="d-flex align-items-center">
                <ng-template [ngIf]="!successSession"><button type="button"
                        class="btn btn-outline-light mb-4 ms-2 bg-black"
                        (click)="logging()">Acceder</button></ng-template>
                <ng-template [ngIf]="successSession"><img [routerLink]="['/profile']"
                        class="navbar-brand rounded-circle" [src]="getImgAvatar()"
                        style="width: 40px; height: auto;"></ng-template>
            </div>
        </div>
    </div>
</nav>