<div class="container my-3">
    <div class="row">
        <div class="col-5">
            <img [src]="getMovieImg()" alt="caratula pelicula" class="w-75 shadow">
        </div>
        <div class="col-7">
            <span class="fw-bold fs-2">{{movieToShow.title}}</span><br>
            <span class="fs-5 fw-light">{{movieToShow.release_date}}</span><br>
            <span class="fs-5">{{movieToShow.overview}}</span>
            <div class="container">
                <ul class="list-group list-group-horizontal position-relative overflow-auto">
                    <div *ngFor="let vid of movieTrailers">
                        <iframe width="560" height="315"
                            [src]="getURLVideo(vid)"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>