<div class="container m-3 mx-auto w-25">
    <div class="row">
        <div class="col-2">
            <div class="shadow rounded-circle">

            </div>
        </div>
        <div class="col-7">
            <div>
                <span>Nombre Restaurante</span><br>
                <span>4,0</span><span>

                </span>
            </div>
        </div>
        <div class="col-3">
            <div class="shadow rounded-circle bg-primary">

            </div>

        </div>
        <div class="col-12">

        </div>
    </div>
</div>