<div *ngIf="authService.user | async as user; else login" class="loginDiv">
  <span class="text-center fs-3 fw-bold">{{user.displayName}} - {{user.email}}</span>
  <div class="text-center w-50 p-3 mx-auto">
    <button (click)="authService.logout()" class="btn btn-warning">Logout</button>
  </div>
</div>

<ng-template #login>
  <div class="loginDiv text-center w-50 p-3 mx-auto">
    <button (click)="authService.gloging()" class="btn btn-primary">Login</button>
  </div>
</ng-template>
<router-outlet></router-outlet>
