<div class="container shadow m-3 mx-auto w-25 card">
    <div class="row">
        <div class="col-5 p-3">
            <span class="fw-bold fs-4">Nombre coche</span><br>
            <span class="tipoCar">Tipo</span><br>
            <div class="bg-black shadow w-75 p-2 mt-5 mb-3 cardPrecio">
                <span class="text-white fw-bold fs-5 ps-2">Precio</span>
                <span class="text-white fw-bold">/day</span>
            </div>
        </div>
        <div class="col-7">
            <img
                src="https://assets.stickpng.com/images/580b585b2edbce24c47b2ccc.png"
                alt="imagen coche" class="w-100 imgCoche mt-5">
        </div>
    </div>
</div>
