<div class="card">
    <img [src]="getPeopleImg()" class="card-img-top" alt="Imagen de Personaje de Star Wars" />
    <div class="card-body">
        <h5 class="card-title">{{people.name}}</h5>
        <button (click)="viewPeopleDetail(peopleModal)" class="btn btn-primary">Detalle</button>
    </div>
</div>

<ng-template #peopleModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{peopleName}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>
            <img [src]="getPeopleImg()" alt="imagen personaje Star Wars">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>